@using CarSalesWebsite.ViewModels
@model CreateNewCarVM

@{
    ViewData["Title"] = "Sell a car";
}


<div class="row">
    <div class="col-md-10 offset-3">
        <form asp-action="AddCar" asp-controller="Car" method="post" enctype="multipart/form-data" class="form-row">
            <div class="col-md-7">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Make" class="form-label">Make</label>
                                <input asp-for="Make" class="form-control" placeholder="Enter make">
                                <span asp-validation-for="Make" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Model" class="form-label">Model</label>
                                <input asp-for="Model" class="form-control" placeholder="Enter Model">
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Year" class="form-label">Year</label>
                                <select asp-for="Year" class="form-control">
                                    @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <label asp-for="Mileage" class="form-label">Odometer, km</label>
                            <input asp-for="Mileage" class="form-control" placeholder="Enter Mileage">
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Price" class="form-label">Price, $</label>
                            <input asp-for="Price" class="form-control" placeholder="Enter Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
        
                <p></p>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Transmission" class="form-label">Transmission</label>
                    <select asp-for="Transmission" class="form-control">
                        <option value="" disabled selected>Select transmission</option>
                        <option value="Manual">Manual</option>
                        <option value="Autimatic">Autimatic</option>
                        <option value="Automated Manual">Automated Manual</option>
                        <option value="Continuously Variable">Continuously Variable</option>
                    </select>
                    <span asp-validation-for="Transmission" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FuelType" class="form-label">Fuel type</label>
                    <select asp-for="FuelType" class="form-control">
                        <option value="" disabled selected>Select fuel type</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Gasoline">Gasoline</option>
                        <option value="Hybrid">Hybrid</option>
                        <option value="Electro">Electro</option>
                    </select>
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyType" class="form-label">BodyType</label>
                    <select asp-for="BodyType" class="form-control">
                        <option value="" disabled selected>Select body type</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Coupe">Coupe</option>
                        <option value="Pickup truck">Pickup truck</option>
                        <option value="Convertible">Convertible</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Minivan">Minivan</option>
                        <option value="SUV">SUV</option>
                        <option value="Crossover">Crossover</option>
                    </select>
                    <span asp-validation-for="BodyType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="form-label">Color</label>
                    <select asp-for="Color" class="form-control" placeholder="Enter Color">
                        <option value="" disabled selected>Choose a color</option>
                        <option Value="White" style="background-color: white; color: black">White</option>
                        <option Value="Black" style="background-color: black; color: white">Black</option>
                        <option Value="Red" style="background-color: red; color: black">Red</option>
                        <option Value="Yellow" style="background-color: yellow; color: black">Yellow</option>
                        <option Value="Orange" style="background-color: orange; color: black">Orange</option>
                        <option Value="Brown" style="background-color: saddlebrown; color: white">Brown</option>
                        <option Value="Green" style="background-color: green; color: white">Green</option>
                        <option Value="Violet" style="background-color: blueviolet; color: white">Violet</option>
                        <option Value="Blue" style="background-color: blue; color: white">Blue</option>
                        <option style="display:none;">&nbsp;</option>
                        <option value="Gray" style="background-color: gray; color: white;">Gray</option>
                    </select>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EngineCapacity" class="form-label">EngineCapacity</label>
                    <input asp-for="EngineCapacity" class="form-control" placeholder="Enter Engine Capacity">
                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Describe your car"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="form-label">Location</label>
                    <input asp-for="Location" class="form-control" placeholder="Enter location">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <p></p>
                <p></p>
                <div class="form-group">
                    <label asp-for="CarImages" class="form-label">Upload Images</label>
                    <input asp-for="CarImages" type="file" class="form-control" placeholder="Input images" multiple />
                    <span asp-validation-for="CarImages" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center">
                <p></p>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>

